.newOccurrenceLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 6px;
  padding: 18px;
  color: #fff;
  cursor: pointer;
  background-color: #1d4ed8;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #2563eb;
  }
}
